<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <ul class="navbar-nav mx-auto">
      <% if user_signed_in? %>
        <li class="nav-item <%= 'active' if current_page?(root_path) %>">
          <%= link_to root_path, class: "navbar-brand" do %>
            <i class="fa-solid fa-house fa-lg <%= 'active-icon' if current_page?(root_path) %>" ></i>
          <% end %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(mangas_path) %>">
          <%= link_to mangas_path, class: "navbar-brand" do %>
            <i class="fa-solid fa-list fa-lg <%= 'active-icon' if current_page?(mangas_path) %>" ></i>
          <% end %>
        </li>
        
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
