

          <% if user_signed_in? %>
            <%= link_to "Voir les manags", mangas_path, class: ""%>
          <% else %>
            <%= link_to "S'inscrire", new_user_registration_path, class:"btn-text-noir" %>
            <%= link_to "Se connecter", user_session_path, class:"btn-text-blanc" %>
          <% end %>
        </div>
      </div>
    </div>
<br>
  <div class="container">
    <div class="container mt-3 text-center">
      <%= form_with url: "/", method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "input",
              placeholder: "Rechercher un parc par nom, par ville..."
          %>
          <button class="loupe" type="submit">
            <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #7f7f7f;"></i>
          </button>
      <% end %>
  </div>
